.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

.fc-left > button {
  padding: 0;
}

.fc-right > button {
  padding: 0;
}

.fc-center > h2 {
  font-size: 1.2em !important;
}

.fc-header-toolbar {
  margin-bottom: 0.75em !important;
}

.fc-button-primary {
  color: black !important;
  background-color: white !important;
  border-color: white !important;
}

.fc-toolbar {
  justify-content: space-evenly !important;
}

.fc-button {
  box-shadow: none !important;
  // border: 1px solid white !important;
  // outline: none;
}

body {
  -webkit-tap-highlight-color: transparent;
}

.fc-sun {
  color: red;
}

.fc-day-number {
  padding: 0 !important;
  padding-right: 0.3em !important;
  font-size: 0.9em;
}

.fc-day-grid-event {
  pointer-events: none;
}

.fc-content {
  text-align: center;
  font-size: 0.7rem;
}

.fc-week {
  // border-style: none !important;
  border-top: 1px solid lightgrey !important;
}

.fc td,
.fc th {
  border-style: none !important;
}

.fc-widget-header {
  margin-bottom: 0.75em !important;
}

.fc-state-highlight {
  background: red !important;
}

.fc {
  background-color: white !important;
}
